{
    "swagger": "2.0",
    "info": {
        "version": "1.16",
        "title": "IPR web services documentation",
        "contact": {},
        "license": {
            "name": "Pakeitim\u0173 istorija | Release notes",
            "url": "https://iprws.esveikata.lt/templates/release_notes.html"
        }
    },
    "host": "iprws.esveikata.lt",
    "basePath": "/",
    "tags": [
        {
            "name": "Appointment",
            "description": "Registracijos REST API | Appointment REST API"
        },
        {
            "name": "Appointment state reason",
            "description": "Vizito b\u016bsenos prie\u017easties REST API | Appointment state reason REST API"
        },
        {
            "name": "CancerPreventionProgram",
            "description": "V\u0117\u017eio prevencin\u0117s programos REST API | Cancer prevention program REST api"
        },
        {
            "name": "Document type",
            "description": "Dokument\u0173 tipo REST API | Document type REST API"
        },
        {
            "name": "Medical service",
            "description": "Sveikatos paslaugos REST API | Medical service REST API"
        },
        {
            "name": "Organization",
            "description": "\u012estaigos REST API | Organization REST API"
        },
        {
            "name": "Partner",
            "description": "Partnerio REST API | Partner REST API"
        },
        {
            "name": "Patient",
            "description": "Paciento REST API | Patient REST API"
        },
        {
            "name": "Practitioner",
            "description": "Specialisto REST API | Specialist REST API"
        },
        {
            "name": "Practitioner roles",
            "description": "Specialisto roli\u0173 REST API | Practitioner role REST API"
        },
        {
            "name": "Queue",
            "description": "Eil\u0117s REST API | Queue REST API"
        },
        {
            "name": "Reception",
            "description": "Registrat\u016bros REST API | Reception REST API"
        },
        {
            "name": "Reception parameter",
            "description": "Registrat\u016bros parametro REST API | Reception parameter REST API"
        },
        {
            "name": "Referral",
            "description": "Siuntimo REST API | Referral REST API"
        },
        {
            "name": "Room",
            "description": "Registrat\u016bros kabinet\u0173 REST API | Reception rooms REST API"
        },
        {
            "name": "Slot",
            "description": "Talono REST API | Slot REST API"
        },
        {
            "name": "Slot generation",
            "description": "Slot Generation Controller"
        },
        {
            "name": "Slot offer",
            "description": "Pasi\u016blymo talonui REST API | Slot offer REST API"
        },
        {
            "name": "Slot type",
            "description": "Talon\u0173 tipo REST API | Slot type REST API"
        },
        {
            "name": "Speciality",
            "description": "Kvalifikacijos REST API | Speciality REST API"
        },
        {
            "name": "Workplace",
            "description": "Darbo vietos REST API | Workplace REST API"
        }
    ],
    "paths": {
        "/v1/appointmentStates/reasons": {
            "get": {
                "tags": [
                    "Appointment state reason"
                ],
                "summary": "Gauti vizito b\u016bsenos prie\u017eastis | Retrieve a list of appointment state reasons",
                "operationId": "getAppointmentStateReasonsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AppointmentStateReason"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/appointmentStates/reasons/{type}": {
            "get": {
                "tags": [
                    "Appointment state reason"
                ],
                "summary": "Gauti vizito b\u016bsenos prie\u017eastis pagal tip\u0105 | Retrieve a list of appointment state reasons by type",
                "description": "### Tip\u0173 paai\u0161kinimai\n* REGISTRACIJOS_PATVIRTINIMAS - b\u016bsenos pasikeitimas patvirtinus registracij\u0105.\n* REGISTRACIJOS_ATMETIMAS - b\u016bsenos pasikeitimas atmetus registracij\u0105.\n* TALONO_PRISKYRIMAS - b\u016bsenos pasikeitimas priskyrus talon\u0105.\n* TALONAS_ATMESTAS_ISTAIGOS - b\u016bsenos pasikeitimas \u012fstaigai atmetus talon\u0105.\n* SIULOMO_LAIKO_ATSISAKYMAS - b\u016bsenos pasikeitimas atmetus si\u016blom\u0105 laik\u0105.\n* ATMESTA_PACIENTO - b\u016bsenos pasikeitimas pacientui atmetus vizit\u0105.\n* REGISTRACIJA_EILEJE - b\u016bsenos pasikeitimas registruojant \u012f eil\u0119.\n\n\n### Type explanations\n* REGISTRACIJOS_PATVIRTINIMAS - state change after confirming registration.\n* REGISTRACIJOS_ATMETIMAS - state change after canceling registration.\n* TALONO_PRISKYRIMAS - state change after assigning slot.\n* TALONAS_ATMESTAS_ISTAIGOS - state change after organization declining slot.\n* SIULOMO_LAIKO_ATSISAKYMAS - state change after declining suggested time.\n* ATMESTA_PACIENTO - state change after patient canceling appointment.\n* REGISTRACIJA_EILEJE - state change after registering in queue.\n",
                "operationId": "getAppointmentStateReasonsByTypeUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "type",
                        "in": "path",
                        "description": "B\u016bsenos pasikeitimo tipas | State change type",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "ATMESTA_PACIENTO",
                            "REGISTRACIJA_EILEJE",
                            "REGISTRACIJOS_ATMETIMAS",
                            "REGISTRACIJOS_PATVIRTINIMAS",
                            "SIULOMO_LAIKO_ATSISAKYMAS",
                            "TALONAS_ATMESTAS_ISTAIGOS",
                            "TALONO_PRISKYRIMAS"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AppointmentStateReason"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/appointments/wouldCancel": {
            "get": {
                "tags": [
                    "Appointment"
                ],
                "summary": "Gauti b\u016bsimai at\u0161auktas paciento registracijas | Get would be cancelled patient appointments",
                "description": "Gr\u0105\u017eina s\u0105ra\u0161\u0105 registracij\u0173, kurios bus at\u0161auktos registruojant pacient\u0105 \u012f talon\u0105 paslaugai | Return a list of appointments which will be cancelled after registering patient to slot for a service",
                "operationId": "getWouldBeCancelledAppointmentsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "healthcareServiceCode",
                        "in": "query",
                        "description": "Sveikatos paslaugos kodas | Healthcare service code",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "patientId",
                        "in": "query",
                        "description": "Paciento identifikatorius | patient identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005928505
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    },
                    {
                        "name": "slotId",
                        "in": "query",
                        "description": "Talono identifikatorius | Slot identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PatientAppointment"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/appointments/{appointmentId}": {
            "get": {
                "tags": [
                    "Appointment"
                ],
                "summary": "Gauti registracij\u0105 | Get appointment",
                "operationId": "getAppointmentUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "appointmentId",
                        "in": "path",
                        "description": "Registracijos identifikatorius | Appointment identifier",
                        "required": true,
                        "type": "string",
                        "x-example": "2114"
                    },
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Kuriuos objektus papildomai gr\u0105\u017einti (\u012fra\u0161yti objekt\u0173 pavadinimus atskirtus kableliais)\nPrasmingos reik\u0161m\u0117s: referral |\nWhich object to also return (input object names separated by commas)\nValid objects: referral",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "isCid",
                        "in": "query",
                        "description": "Ar tai vidinis id | Is it an internal id",
                        "required": false,
                        "type": "boolean",
                        "default": false,
                        "x-example": false
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Appointment"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/cancerPrevention/appointments": {
            "get": {
                "tags": [
                    "CancerPreventionProgram"
                ],
                "summary": "Gauti programos registracijas | Get program appointments",
                "operationId": "getProgramAppointmentsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "iprOrganizationId",
                        "in": "query",
                        "description": "IPR \u012estaigos Id | IPR Organization Id",
                        "required": false,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 34
                    },
                    {
                        "name": "medicalServiceCode",
                        "in": "query",
                        "description": "Sveikatos paslaugos kodas | Medical service code",
                        "required": false,
                        "type": "string",
                        "x-example": "2195"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Puslapis | Page",
                        "required": false,
                        "type": "integer",
                        "default": 1,
                        "format": "int64"
                    },
                    {
                        "name": "patientId",
                        "in": "query",
                        "description": "Paciento identifikatorius | patient identifier",
                        "required": false,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005928505
                    },
                    {
                        "name": "receptionId",
                        "in": "query",
                        "description": "Registrat\u016bros identifikatorius | Reception identifier",
                        "required": false,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 44
                    },
                    {
                        "name": "registrationStatus",
                        "in": "query",
                        "description": "Registracijos b\u016bsenaGalimos reik\u0161m\u0117s:\n* null - gr\u0105\u017einamos registracijos su bet kokia b\u016bsena\n* Registered - registruota\n* Cancelled - at\u0161aukta\n\n\nAppointment status\nAllowed values:\n* null - appointments with any status are returned\n* Registered\n* Cancelled\n",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "Cancelled",
                            "Registered"
                        ]
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Puslapio dydis | Page size",
                        "required": false,
                        "type": "integer",
                        "default": 20,
                        "format": "int64"
                    },
                    {
                        "name": "slotDateFrom",
                        "in": "query",
                        "description": "Datos intervalo prad\u017eia, \u012f kur\u012f turi patekti talono laikas | The start of the date range to which the slot must fall",
                        "required": false,
                        "type": "string",
                        "format": "date-time",
                        "x-example": "2018-12-24 10:00:00"
                    },
                    {
                        "name": "slotDateTo",
                        "in": "query",
                        "description": "Datos intervalo pabaiga, \u012f kur\u012f turi patekti talono laikas | The end of the date range to which the appointment must fall",
                        "required": false,
                        "type": "string",
                        "format": "date-time",
                        "x-example": "2018-12-30 19:00:00"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EnvelopeOfListOfProgramAppointment"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "CancerPreventionProgram"
                ],
                "summary": "Sukurti programos registracij\u0105 | Create program appointment",
                "description": "## Reikalavimai | Requirements\n### Paslaugos | Medical services\n1. <span>Vienai paslaugai galima registruoti tik vien\u0105 kart\u0105. Jeigu paslauga jau turi registracij\u0105 ir jai yra kuriamos naujos registracijos, bus paliekama pati paskutin\u0117 registracija, o visos kitos at\u0161aukiamos.</span> A service can have no more than one appointment only. If a service already has an appointment and more appointments are created for this service, the last one will be considered valid and all previous appointments will be cancelled.\n",
                "operationId": "createProgramAppointmentUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "full",
                        "in": "query",
                        "description": "Ar gr\u0105\u017einti sukurt\u0105 objekt\u0105 | Whether to return the created object",
                        "required": true,
                        "type": "boolean",
                        "x-example": true
                    },
                    {
                        "in": "body",
                        "name": "programAppointmentCreationRequest",
                        "description": "Programos registracijos suk\u016brimo u\u017eklausa | Program appointment creation request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ProgramAppointmentCreationRequest"
                        }
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Appointment"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/cancerPrevention/appointments/{appointmentId}": {
            "get": {
                "tags": [
                    "CancerPreventionProgram"
                ],
                "summary": "Gauti programos registracij\u0105 | Get program appointment",
                "operationId": "getProgramAppointmentUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "appointmentId",
                        "in": "path",
                        "description": "Registracijos identifikatorius | Appointment identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 2114
                    },
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Appointment"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "CancerPreventionProgram"
                ],
                "summary": "At\u0161aukti programos registracij\u0105 | Cancel program appointment",
                "description": "At\u0161auktos registracijos vidinis id (cid) yra i\u0161trinamas | The internal id (cid) of the cancelled appointment is deleted",
                "operationId": "cancelProgramAppointmentUsingDELETE",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "appointmentId",
                        "in": "path",
                        "description": "Registracijos identifikatorius | Appointment identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "cancellationReasonCode",
                        "in": "query",
                        "description": "Registracijos at\u0161aukimo prie\u017easties identifikatorius\nI\u0161 registracijos b\u016bsenos prie\u017eas\u010di\u0173 API reikia pasiimti atitinkamus prie\u017eas\u010di\u0173 kodus.\nGalimi prie\u017easties identifikatoriaus tipai:\n* ATMESTA_PACIENTO - at\u0161aukia pacientas\n* TALONAS_ATMESTAS_ISTAIGOS - at\u0161aukia \u012fstaiga\n\n\nAppointment cancellation reason identifier\nThe appointment state reasons API should be used to get respective cancellation reason codes.\nAllowed reason identifier types:\n* ATMESTA_PACIENTO - cancelled by patient\n* TALONAS_ATMESTAS_ISTAIGOS - cancelled by organization\n",
                        "required": true,
                        "type": "string",
                        "x-example": "RIPSR"
                    },
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/cancerPrevention/slots": {
            "get": {
                "tags": [
                    "CancerPreventionProgram"
                ],
                "summary": "Ie\u0161koti laisv\u0173 programos talon\u0173 | Search for free program slots",
                "operationId": "searchSlotsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "endsTill",
                        "in": "query",
                        "description": "Datos intervalo pabaiga, \u012f kur\u012f turi patekti numatytas talono laikas | The end of the date range to which the slot must fall",
                        "required": false,
                        "type": "string",
                        "format": "date-time",
                        "x-example": "2020-05-07"
                    },
                    {
                        "name": "medicalServiceCode",
                        "in": "query",
                        "description": "Sveikatos paslaugos kodas | Medical service code",
                        "required": false,
                        "type": "string",
                        "x-example": "2195"
                    },
                    {
                        "name": "municipalityId",
                        "in": "query",
                        "description": "Savivaldyb\u0117s identifikatorius i\u0161 Adres\u0173 registro | Municipality identifier from the Address Register",
                        "required": false,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 461
                    },
                    {
                        "name": "organizationId",
                        "in": "query",
                        "description": "\u012estaigos identifikatorius | Organization identifier",
                        "required": false,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1000139194
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Puslapis | Page",
                        "required": false,
                        "type": "integer",
                        "default": 1,
                        "format": "int64"
                    },
                    {
                        "name": "practitionerId",
                        "in": "query",
                        "description": "Specialisto identifikatorius | Practitioner identifier",
                        "required": false,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1002614698
                    },
                    {
                        "name": "receptionId",
                        "in": "query",
                        "description": "Registrat\u016bros identifikatorius | Reception identifier",
                        "required": false,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 44
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Puslapio dydis | Page size",
                        "required": false,
                        "type": "integer",
                        "default": 20,
                        "format": "int64"
                    },
                    {
                        "name": "startsFrom",
                        "in": "query",
                        "description": "Datos intervalo prad\u017eia, \u012f kur\u012f turi patekti numatytas talono laikas | The start of the date range to which the slot must fall",
                        "required": false,
                        "type": "string",
                        "format": "date-time",
                        "x-example": "2020-05-06"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EnvelopeOfListOfProgramSlot"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/cancerPrevention/slots/{slotId}/reservations": {
            "patch": {
                "tags": [
                    "CancerPreventionProgram"
                ],
                "summary": "Rezervuoti programos talon\u0105 | Reserve program slot",
                "operationId": "reserveSlotUsingPATCH",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    },
                    {
                        "name": "reservationPeriod",
                        "in": "query",
                        "description": "Rezervavimo laikas sekund\u0117mis | Reservation time in seconds",
                        "required": false,
                        "type": "integer",
                        "default": 300,
                        "format": "int64"
                    },
                    {
                        "name": "slotId",
                        "in": "path",
                        "description": "Talono identifikatorius | Slot identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/documentTypes": {
            "get": {
                "tags": [
                    "Document type"
                ],
                "summary": "Gauti dokument\u0173 tipus | Retrieve a list of document types",
                "operationId": "getDocumentTypesUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DocumentType"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/medicalServices": {
            "get": {
                "tags": [
                    "Medical service"
                ],
                "summary": "Gauti sveikatos paslaugas | Get medical services",
                "operationId": "getMedicalServicesUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "onlyChangesMadeAfter",
                        "in": "query",
                        "description": "Data. Jei paduota gra\u017einamos tik tos paslaugas, kurios buvo atnaujintos nuo tos datos, o ne vis\u0105 klasifikatori\u0173 | If given returns medical services that have been updated since that date and not the whole classifier",
                        "required": false,
                        "type": "string",
                        "format": "date",
                        "x-example": "2019-09-20"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Puslapis | Page",
                        "required": false,
                        "type": "integer",
                        "default": 1,
                        "format": "int64"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Puslapio dydis | Page size",
                        "required": false,
                        "type": "integer",
                        "default": 20,
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EnvelopeOfListOfMedicalService"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/medicalServices/{medicalServiceCode}": {
            "get": {
                "tags": [
                    "Medical service"
                ],
                "summary": "Gauti konkre\u010di\u0105 sveikatos paslaug\u0105 | Get specific medical service",
                "operationId": "getMedicalServiceUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "medicalServiceCode",
                        "in": "path",
                        "description": "Medicinines paslaugos kodas | Medical service code",
                        "required": true,
                        "type": "string",
                        "x-example": "2195"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MedicalService"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/medicalServices/{medicalServiceCode}/agePeriods": {
            "get": {
                "tags": [
                    "Medical service"
                ],
                "summary": "Gauti am\u017ei\u0173 intervalus | Get age periods",
                "operationId": "getAgePeriodsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "medicalServiceCode",
                        "in": "path",
                        "description": "Medicinines paslaugos kodas | Medical service code",
                        "required": true,
                        "type": "string",
                        "x-example": "2195"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Puslapis | Page",
                        "required": false,
                        "type": "integer",
                        "default": 1,
                        "format": "int64"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Puslapio dydis | Page size",
                        "required": false,
                        "type": "integer",
                        "default": 20,
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EnvelopeOfListOfAgePeriod"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/medicalServices/{medicalServiceCode}/specialities": {
            "get": {
                "tags": [
                    "Medical service"
                ],
                "summary": "Gauti kvalifikacijas | Get specialities",
                "operationId": "getSpecialitiesUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "medicalServiceCode",
                        "in": "path",
                        "description": "Medicinines paslaugos kodas | Medical service code",
                        "required": true,
                        "type": "string",
                        "x-example": "2195"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Puslapis | Page",
                        "required": false,
                        "type": "integer",
                        "default": 1,
                        "format": "int64"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Puslapio dydis | Page size",
                        "required": false,
                        "type": "integer",
                        "default": 20,
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EnvelopeOfListOfSpeciality"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/new/receptions/{receptionId}/workplaces": {
            "get": {
                "tags": [
                    "Workplace"
                ],
                "summary": "Gauti registrat\u016bros darbo vietas | Retrieve a receptions list of workplaces",
                "operationId": "getReceptionWorkplacesUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "medicalServiceCodes",
                        "in": "query",
                        "description": "Sveikatos paslaugos kodai | Health care service codes",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "organizationId",
                        "in": "query",
                        "description": "\u012estaigos Id | Organization Id",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Puslapis | Page",
                        "required": false,
                        "type": "integer",
                        "default": 1,
                        "format": "int64"
                    },
                    {
                        "name": "practitionerId",
                        "in": "query",
                        "description": "Specialisto Identifikatorius | Practitioner Id",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "receptionId",
                        "in": "path",
                        "description": "Registrat\u016bros Id | Reception Id",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 44
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    },
                    {
                        "name": "roomId",
                        "in": "query",
                        "description": "Kabineto Id | Room Id",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "roomName",
                        "in": "query",
                        "description": "Kabineto numeris arba pavadinimas | Room number or name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Puslapio dydis | Page size",
                        "required": false,
                        "type": "integer",
                        "default": 20,
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EnvelopeOfListOfWorkplace"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Workplace"
                ],
                "summary": "Sukurti darbo viet\u0105 | Create a workplace",
                "operationId": "createWorkplaceNewUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "full",
                        "in": "query",
                        "description": "Ar gr\u0105\u017einti sukurt\u0105 objekt\u0105 | Whether to return the created object",
                        "required": true,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "receptionId",
                        "in": "path",
                        "description": "Registrat\u016bros Id | Reception Id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    },
                    {
                        "in": "body",
                        "name": "workplaceCreationRequest",
                        "description": "Darbo vietos suk\u016brimo u\u017eklausa | Workplace creation request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/WorkplaceCreationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/new/receptions/{receptionId}/workplaces/{id}": {
            "get": {
                "tags": [
                    "Workplace"
                ],
                "summary": "Gauti registrat\u016bros darbo viet\u0105 | Retrieve a Receptions workplace",
                "operationId": "getReceptionWorkplaceUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Darbo vietos Id | Workplace Id",
                        "required": true,
                        "type": "string",
                        "x-example": "155"
                    },
                    {
                        "name": "isCid",
                        "in": "query",
                        "description": "Ar tai vidinis id | Is it an internal id",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "receptionId",
                        "in": "path",
                        "description": "Registrat\u016bros Id | Reception Id",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 44
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Workplace"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Workplace"
                ],
                "summary": "Atnaujinti darbo viet\u0105 | Update a workplace",
                "operationId": "updateWorkplaceNewUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Darbo vietos Id | Workplace Id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "receptionId",
                        "in": "path",
                        "description": "Registrat\u016bros Id | Reception Id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    },
                    {
                        "in": "body",
                        "name": "workplaceUpdateRequest",
                        "description": "Darbo vietos atnaujinimo u\u017eklausa | Workplace update request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/WorkplaceUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/organizations": {
            "get": {
                "tags": [
                    "Organization"
                ],
                "summary": "Gauti \u012fstaigas | Retrieve a list of organizations",
                "operationId": "getOrganizationsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "jarCode",
                        "in": "query",
                        "description": "\u012estaigos JAR kodas | Organization JAR code",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "organizationName",
                        "in": "query",
                        "description": "\u012estaigos pavadinimas | Organization name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Puslapis | Page",
                        "required": false,
                        "type": "integer",
                        "default": 1,
                        "format": "int64"
                    },
                    {
                        "name": "parentOrgId",
                        "in": "query",
                        "description": "Auk\u0161\u010diausio lygio t\u0117vin\u0117s \u012fstaigos Id | Highest level parent organization Id",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Puslapio dydis | Page size",
                        "required": false,
                        "type": "integer",
                        "default": 20,
                        "format": "int64"
                    },
                    {
                        "name": "sveidraId",
                        "in": "query",
                        "description": "\u012estaigos SVEIDRA identifikatorius | Organization SVEIDRA identifier",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EnvelopeOfListOfOrganization"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/organizations/{organizationId}": {
            "get": {
                "tags": [
                    "Organization"
                ],
                "summary": "Gauti \u012fstaig\u0105 | Retrieve an organization",
                "description": "### Reikalavimai\n* isCid ir isSveidra abu negali b\u016bti true.\n* parentOrgId reikia \u012fvesti tik, kai isCid yra true.\n\n\n### Requirements\n* isCid and isSveidra cannot both be true.\n* parentOrgId should be given only if isCid is true.\n",
                "operationId": "getOrganizationUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "isCid",
                        "in": "query",
                        "description": "Ar tai vidinis id | Is it an internal id",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "isSveidra",
                        "in": "query",
                        "description": "Ar tai sveikatos draudimo id | Is it a health insurance id",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "\u012estaigos Id | Organization Id",
                        "required": true,
                        "type": "string",
                        "x-example": "141"
                    },
                    {
                        "name": "parentOrgId",
                        "in": "query",
                        "description": "Auk\u0161\u010diausio lygio t\u0117vin\u0117s \u012fstaigos Id | Highest level parent organization Id",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Organization"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Organization"
                ],
                "summary": "Atnaujinti \u012fstaig\u0105 | Update an organization",
                "operationId": "updateOrganizationUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "\u012estaigos Id | Organization Id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "in": "body",
                        "name": "organizationUpdateRequest",
                        "description": "\u012estaigos atnaujinimo u\u017eklausa | Organization update request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OrganizationUpdateRequest"
                        }
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/organizations/{organizationId}/practitioners": {
            "get": {
                "tags": [
                    "Organization"
                ],
                "summary": "Gauti IPR \u012fstaigos darbuotojus  | Retrieve a list of IPR organization practitioners",
                "operationId": "getOrganizationPractitionersUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "organizationId",
                        "in": "path",
                        "description": "IPR \u012estaigos identifikatorius | IPR organization identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 124
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Puslapis | Page",
                        "required": false,
                        "type": "integer",
                        "default": 1,
                        "format": "int64"
                    },
                    {
                        "name": "practitionerId",
                        "in": "query",
                        "description": "Specialisto identifikatorius | Practitioner identifier",
                        "required": false,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1000145374
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1000148896
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Puslapio dydis | Page size",
                        "required": false,
                        "type": "integer",
                        "default": 20,
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EnvelopeOfListOfPractitioner"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/patient/{patientId}/appointments": {
            "get": {
                "tags": [
                    "Appointment"
                ],
                "summary": "Gauti paciento registracijas | Get patient appointments",
                "operationId": "getPatientAppointmentsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "patientId",
                        "in": "path",
                        "description": "Paciento identifikatorius | patient identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005928505
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PatientAppointment"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/ApiError"
                        }
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ]
            }
        },
        "/v1/patients": {
            "get": {
                "tags": [
                    "Patient"
                ],
                "summary": "Gauti paciento duomenis pagal kitus kriterijus nei identifikatorius | Get a patient by criteria other than the identifier",
                "description": "## Reikalavimai | Requirements\n1. <span>Asmens kodo reik\u0161m\u0117 privalo tenkinti b\u016btinas s\u0105lygas Lietuvos asmens kodui.</span> A personal code value must meet requirements for Lithuanian personal code.\n",
                "operationId": "getPatientUsingGET_1",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "consumerKey",
                        "description": "JAR kodas | Consumer key",
                        "required": false
                    },
                    {
                        "name": "esiNumber",
                        "in": "query",
                        "description": "Elektronin\u0117s sveikatos istorijos (ESI) numeris | Electronic health history number",
                        "required": false,
                        "type": "string",
                        "maxLength": 1100,
                        "minLength": 0
                    },
                    {
                        "name": "personalCode",
                        "in": "query",
                        "description": "Asmens kodas | Personal code",
                        "required": false,
                        "type": "string",
                        "pattern": "^\\d{11}$"
                    },
                    {
                        "name": "requestor_id",
                        "in": "header",
                        "description": "Vartotojo identifikatorius | User identifier",
                        "required": true,
                        "type": "integer",
                        "format": "int64",
                        "x-example": 1005911364
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Patient"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
[...]
